@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Al Sistemas</h1>
    <h4 class="display-4">Gobernance SRL</h4>
    <p>Conozca más <a href="https://learn.microsoft.com/aspnet/core">Obtenga información sobre cómo Realizar las Formularios</a>.</p>
</div>
