@model SisGobernance.Models.Formulario
@using SisGobernance.Dtos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <select asp-for="Pais" class="form-control" asp-items="Html.GetEnumSelectList<PaisEmun>()" required>
                    <option value="">Seleccione...</option>
                   
                </select>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control" asp-items="Html.GetEnumSelectList<EstadoEmun>()" required >
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElimLog" class="control-label"></label>
                <select asp-for="ElimLog" class="form-control" asp-items="Html.GetEnumSelectList<ElimEmun>()" required>
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="ElimLog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
          

            <div class="form-group">
                
                <input type="hidden" asp-for="EmpresaId" class="form-control" value="@ViewData["EmpresaId"]" />
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar Formulario" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
